
@{
    ViewBag.Title = "Index";
}
<
    <font style="font-family:'Times New Roman', Times, serif; color:antiquewhite; font-size:larger">
       <b> <h2>Home</h2></b>
    </font>
    <font style="font-family: 'Brush script MT'; color:yellow ; font-size:large">
        <H2>
            <marquee width="60%" direction="up" height="200px" scrollamount="2">
                "Hospitality means primarily the creation of free space where <br>
                the stranger can enter and become a friend instead of an enemy."

                "The world is full of darkness and obstacles, and sometimes, all one needs is a getaway.<br>
                There are many places to go and hotels are great destinations that one can go to relax and re-evaluate their options.<br>
                Do you feel the need to visit some of the most historic and artistic hotels in the world, but lack motivation?<br>
                Worry not, for you and your Family<br> ROYAL GRAND HOTEL Doors Always Open. "<br>
                -Thank You!!
            </marquee>
        </H2>
    </font>

